
body {
    font-family: 'Roboto', sans-serif;
    
    
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: maroon;
}

.header {
    display: flex;
    color: white;
    align-items: center;
    margin: 8px 150px 50px 150px;
    
}

.logo {
    font-size: 12px;
}

.header-links {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    flex-shrink: 0;
    gap: 12px;
}

a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

img {
    height: auto;
    width: 100px;
    border-radius: 5px;
    
}



.herobox {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;   
}

.welcome {
    color: white;
    width: 150px;
}

.herotext {
    color: hsla(0, 0%, 100%, .8);
    font-size: 8px;
    width: 175px;
}

.webkeys {
    width: 200px;
}

.sign-up {
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    border: 2px solid royalblue;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 12px 50px 50px 50px;
}
.title {
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.text {
    font-size: 8px;
    width: 100px;
    text-align: center;
}

.section3 {
    background-color: lightgrey;
    padding: 12px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

figcaption {
    align-self: flex-end;
    font-size: x-small;
}

<!-- border: 2px solid red --!>

.section4 {
    display: flex;
    justify-content: center;
    margin: 50px;

}

.action-box {
    background-color: royalblue;
    width: 400px;
    align-self: center;
    margin: auto;
    
    
}